# Auto detect text files and perform LF normalization
* text=auto

# Audio files for tests
*.mp3 binary
*.wav binary
*.webm binary

# PHP files
*.php text eol=lf

# Markdown files
*.md text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# JSON files
*.json text eol=lf

# Shell scripts
*.sh text eol=lf
